<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="sidebar">
		<!-- ======= Sidebar ======= -->

		<!-- SELLER -->
		<ul th:each="authority : ${#authentication.getAuthorities()}"
			th:if="${authority.getAuthority().startsWith('ROLE_SELLER')}"
			class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item"><a class="nav-link"
				th:href="@{/seller/recentSales}"> <i class="bi bi-journal-text"></i><span>Recent
						Sales</span>
			</a></li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/seller/topSelling}"> <i
					class="bi bi-layout-text-window-reverse"></i><span>Top
						Selling</span>
			</a></li>

			<li class="nav-item"><a class="nav-link "
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>Product</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>

				<ul id="forms-nav" class="nav-content collapse show"
					data-bs-parent="#sidebar-nav">
					<li><a th:href="@{/seller/product/list/all?page=1&size=2}">
							<i class="bi bi-circle"></i><span>My Products</span>
					</a></li>
					<li><a th:href="@{/seller/product}"> <i
							class="bi bi-circle"></i><span>Add New Product</span>
					</a></li>
				</ul></li>
		</ul>

		<!-- MANAGER -->
		<ul th:each="authority : ${#authentication.getAuthorities()}"
			th:if="${authority.getAuthority().startsWith('ROLE_MANAGER')}"
			class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item"><a class="nav-link "
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-person-lines-fill"></i> <span>Accounts</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>

				<ul id="forms-nav" class="nav-content collapse show"
					data-bs-parent="#sidebar-nav">

					<li class="nav-item"><a class="nav-link"
						th:href="@{/manager/account/sellerAccount}"> <i
							class="bi bi-coin"></i> <span>Seller Account</span>
					</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/manager/account/buyerAccount}"> <i
							class="bi bi-people"></i> <span>Buyer Account</span>
					</a></li>
				</ul></li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/manager/category?page=1&size=2}"> <i
					class="bi bi-card-list"></i> <span>Categories</span>
			</a></li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/manager/transaction}"> <i class="bi bi-cart3"></i> <span>Transactions</span>
			</a></li>
		</ul>

		<!-- PROFILE -->
		<ul th:if="${isOnlyBuyerRole}" class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item"><a class="nav-link" th:href="@{/home}">
					<i class="bi bi-house"></i> <span>Home</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/profile}">
					<i class="bi bi-person-bounding-box"></i> <span>My Account</span>
			</a></li>

			<li class="nav-item"><a class="nav-link" th:href="@{/purchase}">
					<i class="bi bi-card-list"></i> <span>My Purchase</span>
			</a></li>
			<!-- End Tables Nav -->
		</ul>
		<!-- End Sidebar-->
	</div>
</body>

</html>