<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="sidebar">
		<!-- ======= Sidebar ======= -->
		<aside id="sidebar" class="sidebar">

			<!-- SELLER -->
			<ul th:each="authority : ${#authentication.getAuthorities()}"
				th:if="${authority.getAuthority().startsWith('ROLE_SELLER')}" class="sidebar-nav" id="sidebar-nav">

				<li class="nav-item">
					<a class="nav-link" th:href="@{/seller/recentSales}">
						<i class="bi bi-journal-text"></i><span>Recent Sales</span>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" th:href="@{/seller/topSelling}">
						<i class="bi bi-layout-text-window-reverse"></i><span>Top Selling</span>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					  <i class="bi bi-journal-text"></i><span>Product</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>

					<ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
					  <li>
						<a th:href="@{/seller/product/list}">
						  <i class="bi bi-circle"></i><span>My Products</span>
						</a>
					  </li>
					  <li>
						<a th:href="@{/seller/product/new}">
						  <i class="bi bi-circle"></i><span>Add New Product</span>
						</a>
					  </li>
					</ul>
				  </li>
			</ul>

			<!-- AUDIT ADMIN -->
			<ul th:each="authority : ${#authentication.getAuthorities()}"
				th:if="${authority.getAuthority().startsWith('ROLE_AUDITADMIN')}" class="sidebar-nav" id="sidebar-nav">

				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/auditAdmin/recentTransaction}">
						<i class="bi bi-journal-text"></i><span>Recent Transaction</span>
					</a>
				</li><!-- End Forms Nav -->

				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/auditAdmin/topSelling}">
						<i class="bi bi-layout-text-window-reverse"></i><span>Top Selling</span>
					</a>
				</li><!-- End Tables Nav -->
			</ul>

			<!-- ACCOUNT ADMIN -->
			<ul th:each="authority : ${#authentication.getAuthorities()}"
				th:if="${authority.getAuthority().startsWith('ROLE_ACCOUNTADMIN')}" class="sidebar-nav" id="sidebar-nav">

				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/account/buyerAccount}">
						<i class="bi bi-journal-text"></i><span>Buyer Account</span>
					</a>
				</li><!-- End Forms Nav -->

				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/account/sellerAccount}">
						<i class="bi bi-layout-text-window-reverse"></i><span>Seller Account</span>
					</a>
				</li><!-- End Tables Nav -->
			</ul>

		</aside><!-- End Sidebar-->
	</div>
</body>

</html>