<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/dashboardLayout/dashboardLayout}"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Sales</title>

    <style>
        .crop {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 130px;
            overflow: hidden;
            height: 50px;
            display: block;
        }
    </style>
</head>


<body>
    <div class="col-12" layout:fragment="content" th:object="${dto}">
        <div class="card recent-sales overflow-auto">

            <div class="card-body">
                <h5 class="card-title">Recent Sales</h5>

                <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Product</th>
                            <th class="text-center" scope="col">Total Price</th>
                            <th class="text-center" scope="col">Status</th>
                            <th class="text-center" scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr th:each="orderItem : *{listResult}">
                            <td>
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <a class="crop" th:href="@{/product/detail/{id}(id=${orderItem.productItem.product.id})}" th:text="${orderItem.productItem.product.name}"></a>
                                        <img style="max-width: 80px;" th:src="${orderItem.productItem.image}" alt="Product image">
                                    </div>
                                    <div>
                                        <p th:text="(${#strings.capitalize(orderItem.productItem.variationName)})"></p>
                                        <p th:text="(${#strings.capitalize(orderItem.productItem.variationValue)})"></p>
                                    </div>
                                </div>
                            </td>
                            <td th:text="${orderItem.totalPrice}"></td>
                            <td th:text="${orderItem.status}"></td>
                            <td th:text="${orderItem.createdDate}"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</body>

</html>