<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/dashboardLayout/dashboardLayout}"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Sales</title>
</head>

<body>
    <div class="col-12" layout:fragment="content" th:object="${dto}">
        <div class="card recent-sales overflow-auto">

            <div class="card-body">
                <h5 class="card-title">Recent Sales</h5>

                <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Buyer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : *{listResult}">
                        <th scope="row" th:text="${order.id}"><a href="#"></a></th>
                        <td th:text="${order.cart.account.userName}"></td>
                        <td>
                        <a th:href="@{/product/detail/{id}(id=${order.product.id})}" class="text-primary"
                        	th:text="${order.product.name}"
                        ></a></td>
                        <td th:text="${order.product.account.userName}"><span class="badge bg-success"></span></td>
                        <td th:text="'$' + ${order.quantity} * ${order.product.price}"></td>
                        <td th:text="${order.createdDate}"></td>
                      </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</body>

</html>