<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/dashboardLayout/dashboardLayout}">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Top Selling</title>
</head>

<body>
	<div class="col-12" layout:fragment="content" th:object="${dto}">
		<div class="card top-selling overflow-auto">
			<div class="card-body pb-0">
				<h5 class="card-title">Top Selling</h5>

				<table class="table table-sm datatable">
					<thead>
						<tr>
							<th scope="col">Preview</th>
							<th scope="col">Product</th>
							<th scope="col">Price</th>
							<th scope="col">Sold</th>
							<th scope="col">Revenue</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : *{listResult}">
							<th scope="row">
								<a th:href="@{/product/detail/{id}(id=${item.id})}">
									<img id="imageProduct"
									class="img-fluid w-100"
									th:src="'data:image/png;base64,' + ${item.imageBase64}"
									alt="img" style="max-width: 120px;">
								</a>
							</th>
							<td><a th:href="@{/product/detail/{id}(id=${item.id})}"
								class="text-primary fw-bold" th:text="${item.name}"></a></td>
							<td th:text="${item.price}"></td>
							<td class="fw-bold" th:text="${item.sold}"></td>
							<td th:text="'$' + ${item.sold} * ${item.price}"></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>
</body>

</html>