<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="../admin/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../admin/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../admin/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../admin/vendor/remixicon/remixicon.css">
    <link rel="stylesheet" href="../admin/vendor/simple-datatables/style.css">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="../admin/css/style.css">
</head>

<body>
    <main>
        <header class="row">
            <div class="col">
                <div th:replace="admin/fragments/header::header"></div>
            </div>
        </header>
        <sidebar class="row">
            <div class="col">
                <div th:replace="admin/fragments/sidebar::sidebar"></div>
            </div>
        </sidebar>
        <section class="row">
            <div class="col">
                <div layout:fragment="content"></div>
            </div>
        </section>
        <footer class="row">
            <div class="col">
                <div th:replace="admin/fragments/footer::footer"></div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
    </main>

    <!-- Vendor JS Files -->
    <script src="../admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/vendor/simple-datatables/simple-datatables.js"></script>

    <!-- Template Main JS File -->
    <script src="../admin/js/main.js"></script>
</body>

</html>