<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/dashboardLayout/dashboardLayout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Voucher</title>
	<link rel="stylesheet" href="/seller/css/myProduct.css">

</head>

<body>
	<div th:object="${dto}" class="card" layout:fragment="content" style="position: relative;">
		<div class="card-body pt-3">
			<ul class="nav nav-tabs nav-tabs-bordered">
				<li class="nav-item"><a th:href="@{/manager/voucher/list/all?page=1&size=2}" th:class="${tab == 'all'} ? 'nav-link active' : 'nav-link'">All</a></li>
	
				<li class="nav-item"><a th:href="@{/manager/voucher/list/ongoing?page=1&size=2}" th:class="${tab == 'ongoing'} ? 'nav-link active' : 'nav-link'">Ongoing</a></li>
	
				<li class="nav-item"><a th:href="@{/manager/voucher/list/upcoming?page=1&size=2}" th:class="${tab == 'upcoming'} ? 'nav-link active' : 'nav-link'">Upcoming</a></li>
		
				<li class="nav-item"><a th:href="@{/manager/voucher/list/expired?page=1&size=2}" th:class="${tab == 'expired'} ? 'nav-link active' : 'nav-link'">
						Expired </a></li>
	
			</ul>
			<div class="tab-pane fade show active">
				<div class="row justify-content-around align-items-center">
					<div class="col-2 card-title d-flex align-item-center">
						<h5 th:utext="${quantityVoucher}  ? ${quantityVoucher} : 0" class="d-inline-block"></h5>
						<h5 th:utext="${quantityVoucher} == 1L  ? _Vouchers : _Voucher"  class="d-inline-block"></h5>
					</div>

					<a th:href="@{/manager/voucher}" class="col-3 btn btn-primary"
						style="height: 40px; line-height: 1.8; width: 200px;"> Add a New Voucher </a>
					
				</div>
			</div>

			<form id="formSubmit">
				<div class="tab-content pt-2">
					<!-- All Voucher -->
					<div class="tab-pane fade pt-3 active show mt-0" id="all">
						<div class="card">
							<!-- Table with stripped rows -->
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">Name | Code</th>
										<th scope="col">Product Scope</th>
										<th scope="col">Discount Amount</th>
										<th scope="col">Usage Quantity</th>
										<th scope="col">Quantity Used</th>
										<th scope="col">Status | Claiming Period</th>
										<th scope="col">Action</th>
									</tr>
								</thead>

								<tbody>
									<tr th:if="${dto.listResult != null}" th:each="voucher : *{listResult}" style="height: 150px;">
										<td style="min-width: 120px;">
											<p th:text="${voucher.name}" class="fit-content"></p>
											<p th:text="${voucher.code}"></p>
										</td>
										<td>
											<p th:text="${voucher.productScope}"></p>
										</td>
										<td>
											<p th:text="${voucher.stringValue}"></p>
										</td>
										<td>
											<p th:text="${voucher.usageQuantity}"></p>
										</td>
										<td>
											<p th:text="${voucher.quantityUsed}"></p>
										</td>
										<td>
											<p th:text="${voucher.status}" style="color: var(--bs-pink);"></p>
											<p th:text="${voucher.startDate}"></p>
											<p th:text="${voucher.endDate}"></p>
										</td>
										<td class="d-flex flex-column">
											<a th:href="@{/seller/voucher/{id}(id=${voucher.id})}" title="Edit" class="btn btn-success" >
												<i class="bi bi-pencil-square"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

							<div class="d-flex justify-content-center align-items-center flex-column" th:if="${dto.listResult.size() == 0}"
								style="height: 400px;"
							>
								<span class="not-found-image" alt="Not found image"></span>
								<h4 class="my-4">No Voucher Found</h4>
							</div>
						</div>

					</div>

					<!-- Pagination -->
					<nav aria-label="Page navigation" class="d-flex justify-content-center">
						<ul class="pagination" id="pagination"></ul>
					</nav>


					<!-- Request Input value -->
					<input type="hidden" th:value="*{page}" name="page" id="currPage">
					<input type="hidden" th:value="*{size}" name="size" id="size">

				</div>

			</form>
		</div>

		<input type="hidden" th:value="*{totalPage}" name="totalPage" id="totalPage">

	</div>

</body>

</html>