.file-upload-variation {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload-variation .input-file-variation {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0) !important;
}

.image-variation {
    font-size: 50px;
}

.ck .ck-content {
    min-height: 250px;
}
