
.not-found-image {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-seller-live-sg/mmf_portal_seller_root_dir/static/modules/product-list/image/sprite.src.pages.Index.d83309b.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}