
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/buyerLayout/buyerLayoutWithoutSideBar}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Detail Product</title>
<script defer src="/buyer/js/detailProduct.js"></script>
<link rel="stylesheet" href="/buyer/css/detailProductCustom.css">
</head>
<body>
	<!-- Shop Detail Start -->
	<div class="container-fluid py-5" layout:fragment="content" th:object=${product}>
		<div class="row px-xl-5">
			<div class="col-lg-5 pb-5">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img class="d-block w-100" th:src="${product.image}" alt="First slide">
					  </div>
					  	<div th:if="${product.productItems[0].image} != null" th:each="productItem : ${product.productItems}" class="carousel-item">
							<img class="w-100 h-100" th:src="${productItem.image}" alt="Image">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
				  </div>
			</div>

			<div class="col-lg-7 pb-5">
				<h3 th:text=*{name} class="font-weight-semi-bold"></h3>
				<div class="d-flex mb-3">
					<div class="text-primary mr-2">
						<small class="fas fa-star"></small> <small class="fas fa-star"></small>
						<small class="fas fa-star"></small> <small
							class="fas fa-star-half-alt"></small> <small class="far fa-star"></small>
					</div>
					<small class="pt-1">(50 Reviews)</small>
				</div>
				<h3 th:text=*{avgPrice} id="price" class="font-weight-semi-bold mb-4"></h3>
				<div th:if="${product.variations != null}">
					<div class="d-flex mb-4" th:each="instance : ${product.variations}">
						<p class="text-dark font-weight-medium mb-0 mr-3" th:utext="(${#strings.capitalize(instance.key)}) + ': '"></p>
						<div class="custom-control custom-radio custom-control-inline"
							th:classappend="'variation-'+${instanceStat.index}" th:each="item : ${instance.value}">
							<input type="radio" class="custom-control-input" th:id="${instance.key}+'-'+${item}" th:name="${instance.key}">
							<label class="custom-control-label" th:text="${item}" th:for="${instance.key}+'-'+${item}"></label>
						</div>
					</div>
				</div>

				<div th:each="productItem : ${product.productItems}">
					<input type="hidden" class="product-item-price" th:value="${productItem.price}">
					<input type="hidden" class="product-item-stock" th:value="${productItem.stock}">
				</div>
				

				<!-- ADD PRODUCT TO CART-->
				<form th:action="@{/product}" method="POST">
					<div class="d-flex align-items-center mb-4 pt-2">
						<p class="text-dark font-weight-medium mb-0 mr-3">Quantity:</p>
						<div class="input-group quantity mr-3" style="width: 180px;">
							<div class="input-group-btn">
								<button class="btn btn-primary btn-minus" disabled>
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<input type="number" class="form-control bg-secondary text-center quantity-product" min="1" 
								value="1" id="quantity" name="quantity" th:max=*{totalStock} th:aria-valuemax=*{totalStock}
							>
							<div class="input-group-btn">
								<button class="btn btn-primary btn-plus">
									<i class="fa fa-plus"></i>
								</button>
							</div>

						</div>
						<span th:text=*{totalStock} id="stock"></span> <span>&nbsp;pieces available</span>
					</div>
					<div>
						<button class="btn btn-primary px-3 add-btn" type="submit">
							<i class="fa fa-shopping-cart mr-1"></i> Add To Cart
						</button>
					</div>

					<input type="hidden" th:field=*{id}>
				</form>

				<!-- Modal -->
				<div th:if="${showModal}" class="modal fade modal-success" th:classappend="${showModal}"
					id="exampleModalCenter" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true"
					style="display: block;">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content model-product ">
							<i class="fas fa-check-circle model-icon"></i>
							<div class="modal-body">Item has been added to your shopping cart</div>
						</div>
					</div>
				</div>
				
				<!-- Modal Sold Out -->
				<div class="modal fade" id="model-sold-out" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true"
					style="display: none;">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content model-product ">
							<i class="fas fa-times-circle model-icon" style="color: red!important"></i>
							<div class="modal-body">The Product has been sold out</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row px-xl-5">
			<div class="col">
				<div
					class="nav nav-tabs justify-content-center border-secondary mb-4">
					<a class="nav-item nav-link active" data-toggle="tab"
						href="#tab-pane-1">Description</a> <a class="nav-item nav-link"
						data-toggle="tab" href="#tab-pane-2">Information</a> <a
						class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews
						(0)</a>
				</div>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="tab-pane-1">
						<h4 class="mb-3">Product Description</h4>
						<p th:utext=*{description}></p>
					</div>

					<div class="tab-pane fade show" id="tab-pane-2">
						<h4 class="mb-3">Product Information</h4>
						<div th:each="spec : ${product.specification}">
							<div class="d-flex" th:each="instance : ${spec}">
								<label class="mr-3" th:utext="${instance.key} + ': '"></label>
								<p th:utext="${instance.value}"></p>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="tab-pane-3">
						<div class="row">
							<div class="col-md-6">
								<h4 class="mb-4">1 review for "Colorful Stylish Shirt"</h4>
								<div class="media mb-4">
									<div class="media-body">
										<h6>
											John Doe<small> - <i>01 Jan 2045</i></small>
										</h6>
										<div class="text-primary mb-2">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i>
											<i class="far fa-star"></i>
										</div>
										<p>Diam amet duo labore stet elitr ea clita ipsum, tempor
											labore accusam ipsum et no at. Kasd diam tempor rebum magna
											dolores sed sed eirmod ipsum.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<h4 class="mb-4">Leave a review</h4>
								<small>Your email address will not be published.
									Required fields are marked *</small>
								<div class="d-flex my-3">
									<p class="mb-0 mr-2">Your Rating * :</p>
									<div class="text-primary">
										<i class="far fa-star"></i> <i class="far fa-star"></i> <i
											class="far fa-star"></i> <i class="far fa-star"></i> <i
											class="far fa-star"></i>
									</div>
								</div>
								<form>
									<div class="form-group">
										<label for="message">Your Review *</label>
										<textarea id="message" cols="30" rows="5" class="form-control"></textarea>
									</div>
									<div class="form-group">
										<label for="name">Your Name *</label> <input type="text"
											class="form-control" id="name">
									</div>
									<div class="form-group">
										<label for="email">Your Email *</label> <input type="email"
											class="form-control" id="email">
									</div>
									<div class="form-group mb-0">
										<input type="submit" value="Leave Your Review"
											class="btn btn-primary px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Shop Detail End -->

</body>
</html>