<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/buyerLayout/buyerLayout}"
>

<head>
	<meta charset="utf-8">
	<title>Z-Ecommerce</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
	<div class="wrapper" layout:fragment="content">

		<!-- Categories Start -->
		<div class="container-fluid pt-5">
			<div class="text-center mb-4">
				<h2 class="section-title px-5"><span class="px-2">Categories</span></h2>
			</div>
			<div class="row px-xl-5 pb-3">
				<div th:each="category : ${categories}" class="col-lg-2 col-md-6 pb-1">
					<div class="cat-item d-flex flex-column mb-4">
						<a th:href="@{'/category/' + ${category.id} + '?page=1&size=9'}" class="cat-img position-relative overflow-hidden mb-3">
							<img class="img-fluid" id="imageCategory" th:src="'data:image/png;base64,' + ${category.thumbnailBase64}" 
								alt="Background image" />
						</a>
						<h5 class="font-weight-semi-bold m-0 text-center" th:utext="${category.name}"></h5>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories End -->

		<!-- Products Start -->
		<div class="container-fluid pt-5">
			<div class="text-center mb-4">
				<h2 class="section-title px-5"><span class="px-2">Trendy Products</span></h2>
			</div>
			<div class="row px-xl-5 pb-3">
				<div th:each="product : ${products}" class="col-lg-2 col-md-6 col-sm-12 pb-1">
					<a th:href="@{/product/detail/{id}(id=${product.id})}">
						<div class="card product-item border-0 mb-4">
							<div
								class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
								<img class="img-fluid w-100" id="imageProduct" th:src="'data:image/png;base64,' + ${product.imageBase64}" 
									alt="Background image" />
							</div>
							<div class="card-body border-left border-right p-0 pt-1 pr-2 pl-2 text-dark">
								<p class="text-truncate mb-3" th:utext="${product.name}" style="font-size: 14px;"></p>
								<div class="d-flex justify-content-between">
									<h6 class="text-primary" th:utext="${product.intPrice}"></h6>
									<span style="font-size: 14px;">100 sold</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- Products End -->
		<!-- Back to Top -->
		<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
	</div>

</body>

</html>