<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/buyerLayout/buyerLayoutWithOutSideBar}">

<head>
<meta charset="utf-8">
<title>Z-Ecommerce</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
	<div class="wrapper" layout:fragment="content">
		<div style="text-align: center;">
			<img alt="Not found image"
				src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/a60759ad1dabe909c46a817ecbf71878.png"
			>
			<div>No results found</div>
			<div>
				Try different or more general keywords
			</div>
		</div>
	</div>

</body>

</html>