<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/dashboardLayout/dashboardLayout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Or Edit Product</title>

    <script defer src="/seller/js/addOrEdit.js"></script>
    <script defer src="/seller/js/checkingValidProduct.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/classic/ckeditor.js"></script>

    <style>
        .spec-fit {
            margin-left: auto;
            margin-bottom: 6px;
            order: 2;
            max-height: 40px;
        }

        .ck .ck-content {
            min-height: 300px;
        }
    </style>
</head>

<body>
    <div class="card" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>
                        <form th:object="${product}" id="formSubmit" class="needs-validation" novalidate>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Product Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{name}" id="name" required/>
	                                <div id="nameError" class="invalid-feedback">
                                        <span> Please enter product's name! </span>
	                                </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                	<select th:if="${categoryId == null}" class="form-control" th:field="*{categoryId}" required>
                                        <option selected value="" hidden='true'>
                                        </option>
                                        <option th:each="item : ${categories}" th:utext="${item.code}"
                                            th:value="${item.id}" th:attr="${product.categoryId == item.id} ? selected : id='categoryId'">
                                        </option>
                                    </select>

                                    <select th:if="${categoryId != null}" class="form-control" th:field="*{categoryId}" required>
                                        <option selected value="" hidden='true'>
                                        </option>
                                        <option th:each="item : ${categories}" th:utext="${item.name}"
                                            th:value="${item.id}" th:attr="${product.categoryId == item.id} ? selected">
                                        </option>
                                    </select>

                                    <div id="categoryIdError"class="invalid-feedback">
                                        <span> Please enter product's category! </span>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="specifications" class="col-sm-2 col-form-label">Specifications</label>

                                <div class="col-sm-5">
                                    <span class="input-group-text">Key</span>
                                </div>
                                <div class="col-sm-5">
                                    <span class="input-group-text">Value</span>
                                </div>

                                <div id="specifications" class="m-1 mt-2">
                                    <div th:each="item : *{specifications}">
                                        <div class="spec-el col-sm-10 d-flex spec-fit">
                                            <input type="text" th:value="${item.k}" aria-label="Key" class="input-group-text" required>
                                            <input type="text" th:value="${item.v}" aria-label="Value" class="form-control" required>
                                        </div>
                                    </div>
                                    <div id="new-input"></div>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-2">
                                    <button type="button" id="row-adder" name="row-adder" class="btn btn-primary">Add More</button>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="description" class="col-sm-2 col-form-label">Product Description</label>
                                <div class="col-sm-10">
                                  <textarea th:field="*{description}" class="form-control" type="text" id='description' required></textarea>
                                    <div id="descriptionError" class="invalid-feedback">
                                        <span> Please enter product's description! </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="details" class="col-sm-2 col-form-label">Product Details</label>
                                <div class="col-sm-10">
                                    <textarea id="details" th:field="*{details}" class="form-control" required></textarea>
                                    <div id="detailsError" class="invalid-feedback">
                                        <span> Please enter product's details! </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="price" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-10">
                                    <input class="form-control" th:field="*{price}"
                                        style="width: 30%; display: inline-block;" type="number"
                                        min="1" max="9999"  step="any" required  id='price'/>
                                    <span>$</span>

                                    <div id="priceError" class="invalid-feedback">
                                        <span> Please enter product's price! </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                                <div class="col-sm-10">
                                    <input id="stock" type="number" th:field="*{stock}" style="width: 30%;" class="form-control"
                                        min="1" max="1000" required />

	                                <div id="stockError" class="invalid-feedback">
                                        <span> Please enter product's stock! </span>
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-4">
                                <label for="imageBase64" class="col-sm-2 col-form-label">Product Image</label>
                                <div class="col-sm-10">
                                    <input id="imageBase64" class="form-control" th:field="*{imageBase64}" type="file"
                                        accept="image/png, image/jpeg" required >

	                                <div id="imageBase64Error" class="invalid-feedback">
                                        <span> Please enter product's image! </span>
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12" >
                                    <img th:if="${product.image}" class="img-fluid previewImage" alt="Preview Image"
										th:src="'data:image/png;base64,' + ${product.imageBase64}"
										style="max-width: 200px"
									>
                                    <img th:unless="${product.image}" class="img-fluid previewImage" src=""
										style="max-width: 200px" alt=""
									>
                                </div>
                            </div>
                            <br />
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="col-sm-2 col-form-label">Action</label>
                                </div>
                                <div class="col-8 d-flex">
                                    <div class="col-sm-10 col-lg-3">
                                        <a th:href="@{/seller/product/list/all?page=1&size=2}" class="btn btn-danger">Cancel</a>
                                    </div>
                                    <div class="col-sm-10 col-lg-3">
                                        <button id="saveBtn" type="submit" class="button-update btn btn-primary">Save
                                            and Publish</button>
                                    </div>

                                </div>
                            </div>

                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:field="*{sold}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>