<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/dashboardLayout/dashboardLayout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Product</title>
	<link rel="stylesheet" href="/seller/css/myProduct.css">

	<script defer src="/seller/js/product/delete&restore.js"></script>
	<script defer src="/common/js/handleCheckBox.js"></script>
</head>

<body>
	<div th:object="${dto}" class="card" layout:fragment="content" style="position: relative;">
		<div class="card-body pt-3">
			<ul class="nav nav-tabs nav-tabs-bordered">
	
				<li class="nav-item"><a th:href="@{/seller/product/list/all?page=1&size=2}" th:class="${tab == 'all'} ? 'nav-link active' : 'nav-link'">All</a></li>
	
				<li class="nav-item"><a th:href="@{/seller/product/list/live?page=1&size=2}" th:class="${tab == 'live'} ? 'nav-link active' : 'nav-link'">Live</a></li>
		
				<li class="nav-item"><a th:href="@{/seller/product/list/soldout?page=1&size=2}" th:class="${tab == 'soldout'} ? 'nav-link active' : 'nav-link'">
						Sold out </a></li>
	
			</ul>
			<div class="tab-pane fade show active">
				<div class="row justify-content-around align-items-center">
					<div class="col-2 card-title d-flex align-item-center">
						<h5 th:utext="${quantityProduct}  ? ${quantityProduct} : 0" class="d-inline-block"></h5>
						<h5 th:utext="${quantityProduct} == 1L  ? _Products : _Product"  class="d-inline-block"></h5>
					</div>

					<a th:href="@{/seller/product}" class="col-3 btn btn-primary"
						style="height: 40px; line-height: 1.8; width: 200px;"> Add a New Product </a>

					<button class="btnDelete disabled col-3 btn btn-danger" data-toggle="tooltip"
						title='Delete Product' style="height: 40px; line-height: 1.8; width: 200px;"> Delete Product
					</button>
					
					<a th:href="@{/seller/product/trashbin?page=1&size=2}" class="btn btn-warning" style="height: 40px; line-height: 1.8; width: 50px;">
					 	<i class="bi bi-trash"></i>
					</a>
					
				</div>
			</div>

			<form id="formSubmit">
				<div class="tab-content pt-2">
					<!-- All Product -->
					<div class="tab-pane fade pt-3 active show mt-0" id="all-product">
						<div class="card">
							<!-- Table with stripped rows -->
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col"><input type="checkbox" name="" id="checkAll" style="height: 16px; width: 16px;"></th>
										<th scope="col">Name</th>
										<th scope="col">Variations</th>
										<th scope="col">Action</th>
									</tr>
								</thead>

								<tbody>
									<tr th:if="${dto.listResult != null}" th:each="product : *{listResult}" style="height: 150px;">
										<td>
											<input type="checkbox" th:id="${product.id}" name="" style="height: 16px; width: 16px;">
										</td>
										<td style="max-width: 100px;">
											<p th:text="${product.name}" class="fit-content"></p>
											<img style="max-width: 100px;" id="imagePreview"
												th:src="${product.image}" alt="Background image" />
										</td>
										<td>
											<table class="table table-bordered" th:each="productItem : ${product.productItems}">
												<thead>
													<tr>
														<th scope="col" th:text="${productItem.variationName}"></th>
														<th scope="col">Price</th>
														<th scope="col">Stock</th>
														<th scope="col">Sold</th>
													</tr>
												</thead>
	
												<tbody>
													<tr>
														<td>
															<p th:text="${productItem.variationValue}"></p>
														</td>
														<td>
															<p th:text="${productItem.intPrice}"></p>
														</td>
														<td>
															<p th:text="${productItem.stock}"></p>
														</td>
														<td>
															<p th:text="${productItem.sold}"></p>
														</td>
													</tr>
												</tbody>
												
											</table>
										</td>
										<td style="text-align: center;">
											<a th:href="@{/seller/product/{id}(id=${product.id})}" title="Edit"
												class="btn btn-success" >
												<i class="bi bi-pencil-square"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

							<div class="d-flex justify-content-center align-items-center flex-column" th:if="${dto.listResult.size() == 0}"
								style="height: 400px;"
							>
								<span class="not-found-image" alt="Not found image"></span>
								<h4 class="my-4">No Product Found</h4>
							</div>
						</div>

					</div>

					<!-- Pagination -->
					<nav aria-label="Page navigation" class="d-flex justify-content-center">
						<ul class="pagination" id="pagination"></ul>
					</nav>


					<!-- Request Input value -->
					<input type="hidden" th:value="*{page}" name="page" id="currPage">
					<input type="hidden" th:value="*{size}" name="size" id="size">

				</div>

			</form>
		</div>

		<input type="hidden" th:value="*{totalPage}" name="totalPage" id="totalPage">

	</div>

</body>

</html>