<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/dashboardLayout/dashboardLayout}"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <!-- <script defer src="/seller/main.js"></script> -->

</head>

<body>
    <div class="card" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>

                        <form th:action="@{/api/seller/product}" method="POST"
                            id="formSubmit" enctype="multipart/form-data"
                            th:object="${product}"
                        >
                            <div class="row mb-3">
                                <label for="inputName" class="col-sm-2 col-form-label">Product Name</label>
                                <div class="col-sm-10">
                                    <input id="inputName" th:field="*{name}" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-10">
                                    <select class="form-control" id="inputCategory" th:field="*{categoryId}">
                                        <option value="1">
                                            1
                                        </option>
                                        <option value="2">
                                            2
                                        </option>
                                        <option value="3">
                                            3
                                        </option>
                                    </select>
								</div>
							</div>
                            <div class="row mb-3">
                                <label for="inputDescription" class="col-sm-2 col-form-label">Product Description</label>
                                <div class="col-sm-10">
                                  <textarea id="inputDescription" th:field="*{description}"
                                  class="form-control" style="height: 100px" required></textarea>
                                </div>
                              </div>
                            <div class="row mb-3">
                                <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-10">
                                    <input id="inputPrice" class="form-control" th:field="*{price}"
                                        style="width: 30%; display: inline-block;" type="number" 
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');"
                                        required min="1" max="99999999"
                                    />
                                    <span>VND</span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputStock" class="col-sm-2 col-form-label">Stock</label>
                                <div class="col-sm-10">
                                    <input id="inputStock" type="number" th:field="*{stock}" style="width: 30%;"
                                    class="form-control" min="1" max="1000" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label">Product Images</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="imageField"
                                    	type="file" id="formFile" accept="image/png, image/jpeg" required
                                    >
                                </div>
                            </div>
                            <br/>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="col-sm-2 col-form-label">Action</label>
                                </div>
                                <div class="col-8 d-flex">
                                    <div class="col-sm-10 col-lg-3">
                                        <a th:href="@{/seller/product/list}" class="btn btn-danger">Cancel</a>
                                    </div>
                                    <div class="col-sm-10 col-lg-3">
                                        <button id="saveBtn" type="submit" class="button-update btn btn-primary">Save and Publish</button>
                                    </div>

                                    <input type="hidden" th:field="*{id}"/>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>