<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/dashboardLayout/dashboardLayout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trash Bin</title>
	<script defer src="/seller/js/delete&restore.js"></script>

	<style>
		.fit-content{
			max-width: 150px;
			max-height: 100px;
			white-space: nowrap;
			overflow:hidden;
			text-overflow: ellipsis;
		}
	</style>
</head>

<body>
	<div th:object="${dto}" class="card" layout:fragment="content" style="position: relative;">
		<div class="alert alert-info text-center" th:if="${message}" th:text="${message}" style="position: absolute;left: 0;right: 0; z-index: 1;"></div>

		<div class="card-body pt-3">
			<div class="tab-pane fade show active">
				<div class="row justify-content-around align-items-center">
					<div class="col-2 card-title d-flex align-item-center">
						<h5 th:utext="${quantityProduct}  ? ${quantityProduct} : 0" class="d-inline-block"></h5>
						<h5 th:utext="${quantityProduct} == 1L  ? _Products : _Product"  class="d-inline-block"></h5>
					</div>
					
					<button class="btnDelete force disabled col-3 btn btn-danger" data-toggle="tooltip"
						title='Delete Product' style="height: 40px; line-height: 1.8; width: 200px;"> Force Delete
					</button>
					
					<button class="btn btn-warning" onclick="history.back()"
						style="height: 40px; line-height: 1.8; width: 50px;">
					 	<i class="bi bi-arrow-return-left"></i>
					</button>
					
				</div>
			</div>
			<form id="formSubmit">

				<div class="tab-content pt-2">

					<!-- All Product -->
					<div class="tab-pane fade pt-3 active show mt-0" id="all-product">
						<div class="card">
							<!-- Table with stripped rows -->
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col"><input type="checkbox" name="" id="checkAll" style="height: 16px; width: 16px;"></th>
										<th scope="col">Name</th>
										<th scope="col">Variations</th>
										<th scope="col">Action</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="product : *{listResult}" style="height: 150px;">
										<td>
											<input type="checkbox" th:id="${product.id}" name="" style="height: 16px; width: 16px;">
										</td>
										<td style="max-width: 100px;">
											<p th:text="${product.name}" class="fit-content"></p>
											<img style="max-width: 100px;" id="imagePreview"
												th:src="${product.image}"
												alt="Background image" />
										</td>
										<td>
											<table class="table table-bordered" th:each="productItem : ${product.productItems}">
												<thead>
													<tr>
														<th scope="col" th:text="${productItem.variationName}"></th>
														<th scope="col">Price</th>
														<th scope="col">Stock</th>
														<th scope="col">Sold</th>
													</tr>
												</thead>
	
												<tbody>
													<tr>
														<td class="fit-content">
															<p th:text="${productItem.variationValue}"></p>
														</td>
														<td>
															<p th:text="${productItem.intPrice}"></p>
														</td>
														<td>
															<p th:text="${productItem.stock}"></p>
														</td>
														<td>
															<p th:text="${productItem.sold}"></p>
														</td>
													</tr>
												</tbody>
												
											</table>
										</td>
										<td style="text-align: center;">
											<a title="Restore" class="btn btn-success restore-btn" th:id="${product.id}" style=" margin-top: 10px;">
												<i class="bi bi-arrow-clockwise"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>

					</div>

					<!-- Pagination -->
					<nav aria-label="Page navigation" class="d-flex justify-content-center">
						<ul class="pagination" id="pagination"></ul>
					</nav>


					<!-- Request Input value -->
					<input type="hidden" th:value="*{page}" name="page" id="currPage">
					<input type="hidden" th:value="*{size}" name="size" id="size">

				</div>

			</form>
		</div>

		<input type="hidden" th:value="*{totalPage}" name="totalPage" id="totalPage">

	</div>

</body>

</html>